.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 12px;
    background-color: #f0f2f5;
    align-items: center;
}

.img_avatar{
    width: 35px;
    margin-left: 7px;
}